/*csslint box-sizing: false*/

.auth-form {
    /*size*/
    height: 500px;
    width: 380px;
    box-sizing: border-box;
    padding: 20px 0 30px 0;
    
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /*font and color*/
    border: 1px solid black;
    background-color: white;
    font-family: Montserrat;
}
.auth-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-form h2 {
    text-align: center;
}

.auth-form button {
    height: 40px;
    width: 250px;
    margin: 5px;
    /*border: 1px solid black;*/
    background-color: hsla(0,0%,89%,.6);
    border: none;
    padding: 10px 33px;
    /*border: 1px solid black;*/
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
}
.auth-form a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    text-align: center;
    width: 250px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    display: block;
}
.auth-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-fields input {
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: block;
    width: 250px;
    height: 40px;
    margin: 5px;
}



::placeholder {
font-family: Montserrat;
  color: #adadad;
  opacity: 1; /* Firefox */
  padding-left: 10px;
  letter-spacing: 0.6px;
  font-size: 13px;
  font-weight: 200;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}

.line-break {
    width: 90%; 
    height: 10px; 
    /*border-bottom: 1px solid black; */
    text-align: center;
    margin: 10px 0 30px 0;
}
.line-break span {
    font-size: 13px;
    line-height: 20px;
    background-color: white; 
    padding: 0 10px;
}

.third-party {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forgot-password {
    text-align: right;
}