/*csslint box-sizing: false*/

.auth-form {
    /*size and position*/
    height: 550px;
    width: 380px;
    box-sizing: border-box;
    padding: 20px 0 30px 0;
    
    /*content alignment*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /*font and color*/
    border: 1px solid black;
    background-color: white;
    font-family: Montserrat;
}

.auth-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.auth-form button, 
.auth-form a, 
.auth-form input {
    width: 250px;
    height: 40px;
    line-height: 40px;
    padding: 0px;
    margin: 5px;
}

.auth-form button {
    /*size and position*/
    align-items: center;
    
    /*font and color*/
    background-color: #E3E3E3;
    background-color: hsla(0,0%,89%,.6);
    border: none;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
}
.auth-form a {
    /*size and position*/
    display: block;
    
    /*font and color*/
    text-decoration: none;
    color: black;
    font-size: 11px;
}

.auth-form input {
    /*size and position*/
    box-sizing: border-box;
    display: block;
    padding-left: 10px;
    
    /*font and color*/
    border: 1px solid #ccc;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.auth-form ::placeholder {
    /*font and color*/
    color: #adadad;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #adadad;
}

::-ms-input-placeholder { /* Microsoft Edge */
     color: #adadad;
}

.line-break {
    height: 10px; 
    /*uncomment the next line to have a line running across the text*/
    /*border-bottom: 1px solid black; */
    margin: 10px 10px 30px 10px;
}
.line-break span {
    /*size and position*/
    line-height: 20px;
    
    /*font and color*/
    background-color: white; 
    font-size: 13px;
    padding: 0 10px;
}

.third-party {
    /*uncomment the next line to turn off fb and google signin*/
    /*display: none;*/
}

#forgot-password-label {
    /*size and position*/
    margin: 8px auto;
    height: 11px;
    line-height: 11px;
}
.forgot-password-placeholder {
    /*size and position*/
    height: 29px;
}
.auth-redirect {
    margin-top: 20px!important;
}
.auth-fields > :first-child {
    margin-bottom: 10px!important;
}